.body {
    background-color: #fefbf4;
}

.wrap-menu-desktop {
    top: 30px;
    background: #fff;
}

.limiter-menu-desktop {
    display: flex;
    justify-content: space-between;
}

.shop-card {
    border-radius: 8px;
}



.card-content {
    padding: 10px;

}



.card-title {
    font-size: 25px;
}

image {
    border-radius: 8px;
    transition: ease 0.2s;
}

image:hover {
    transform: scale(1.2);
}

.add-to-cart {
    text-align: end;
}

.lni-cart-1 {
    font-size: 25px;
}

.alert {
    top: 0;
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40px;
    position: fixed;
    width: 100vw;
    z-index: 9999;

}

.alert-text {
    margin: 0;
}

.title-wrapper {
    position: relative;
    z-index: 4;
}

a {
    font-size: 2rem !important;
    text-decoration: none;
}

.image-banner {
    max-width: 100%;
}


.dropdown-btn {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 5px 0;
}

.dropdown-arrrow {
    display: inline-block;
    rotate: 90deg;

}


.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu>li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown-menu li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.dropdown-submenu>li:hover {
    background: rgba(0, 0, 0, 0.1);
}

.arrow {
    visibility: hidden;
    opacity: 0;
    transition: ease 0.s;
}



.dropdown-item {
    padding: 5px 10px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu li:hover .arrow {
    visibility: visible;
    opacity: 1;
}



/* List items to menu_id*/

.shop-card {
    min-width: 250px;
    min-height: 340px;
    max-width: 100%;

}

.card-banner {
    position: relative;
    height: 100%;
}

.img-product {
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    object-fit: cover;
}

/* row in container */
.row {
    justify-content: start;
}

/* .dropdown__list-item-1 {
    display: none;
}

.dropdown__list-item li:hover .dropdown__list-item-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    background-color: violet;
} */


.list-thumbs-footer {
    margin-top: 10px;
}

.product-img-thumb {
    border-radius: 4px;
}

.product-img-thumb.active {
    border-radius: 4px;
    border: 1px solid;
}


/* cart */
#cart_items {
    width: 100%;
}


.cart_product {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.cart_quantity_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.cart_quantity_up,
.cart_quantity_down {
    font-size: 2rem;
}

.cart_quantity_input {
    text-align: center;
    font-size: 2rem;
}


.cart_quantity_down {
    text-align: start;
}

.cart_quantity_up {
    text-align: end;
}

.cart_quantity_up svg {
    width: 25px;
}

.cart_quantity_down svg {
    width: 25px;
}

.cart_price>p,
.cart_total_price {
    font-size: 2rem;
}

.btn-dark {
    margin-left: 60px;
}

.select {
    display: flex;

}

.select-number {
    display: flex;
    margin-left: 0;
}

.font-weight-bold {
    width: 80px;
    text-align: center;
    padding-top: 10px;
    font-size: medium;

}

.qty {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #faf2e5;
    font-size: medium;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    border-color: #faf0de;
}

.price {
    color: rgb(97, 97, 97);
    font-size: medium;
}

#dis {
    display: flex;
}

#dis .btn-dark {
    width: 100px;
    height: 40px;
    text-align: center;
    justify-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.discount {
    width: 200px;
    height: calc(1.5em + .75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 10px;
}

.discount-lab {
    font-size: 1.2rem;
}

.col-6 h2 {
    width: 400px;
}

.search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.wrap-icon-header∆° {
    display: flex;
}

.dropdowm-menu__profile {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.dropdowm-menu__profile .dropdowm-item {
    white-space: nowrap;
}

.list-inline {
    display: flex;
}

.line {
    border: 2px 0 2px 0 solid;
    border-color: #ccc;
    border-right: 0;
    border-left: 0;
}

#toggleReviews {
    justify-content: center;
}

.btn {
    align-items: center;
}

.credit-cart {
    width: 50px;
    height: 40px;
}

.credit-cart a {
    height: 40px;
}

.credit-cart a svg {
    width: 25px;
    height: 25px;
    margin-top: 13px;
}

.order-table {
    border: 2px solid #ccc;
}